// EXECUTION SETTINGS AND GLOBAL DEFAULTS

// Inputs/parameters of the pipeline
params {
     // sample inputs
    dataset_id = ''
    blcds_registered_dataset = true // if you want the output to be registered
    sge_scheduler = false // true

    input_csv = "path/to/input/csv/"
    variable_name = "foo-bar"

    // input/output locations
    output_dir = "where/to/save/outputs/"
    temp_dir = "path/to/temp/dir/for/intermediate/files" // e.g /scratch

    // resource configuraton for entire pipeline
    max_number_of_parallel_jobs = n // number of processes that can be ran at the same time 
    max_number_of_cpus = n // number of cores (e.g: 2)
    max_memory = "n GB" // amount of memory (e.g 2B, 2KB, 2MB, 2GB or 2TB)

    // resource configuraton for resource_allocation_tool_name_command_name
    tool_name_command_name_number_of_parallel_jobs = n // number of processes that can be ran at the same time 
    tool_name_command_name_number_of_cpus = n // number of cores (e.g: 2)
    tool_name_command_name_memory = "n GB" // amount of memory (e.g 2B, 2KB, 2MB, 2GB or 2TB)
}

// External config files import
includeConfig "${projectDir}/config/methods.config"

// Metadata
manifest {
    name = 'pipeline-name-nf'
    author = 'Authors Name'
    description = 'A template for Nextflow pipelines'
    version = 'Version Number'
}

// Process specific scope
process {
    cache = true 
    // Other directives or options that should apply for every process

    // total amount of resources avaible to the pipeline
    maxForks = params.max_number_of_parallel_jobs
    cpus = params.max_number_of_cpus
    memory = params.max_memory

    // Please note that queue, cpu and mem will not work if executor = "local" 
    withName: resource_allocation_tool_name_command_name {
        maxForks = params.tool_name_command_name_number_of_parallel_jobs
        cpus = params.tool_name_command_name_number_of_cpus
        memory = params.tool_name_command_name_memory
        // Other directives or options that apply to that specific process
    }
}
