includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/nextflow.config"

params {
    input_csv = "${projectDir}/test/test-metapipeline-DNA-batch/input.csv"
    output_dir = "${projectDir}/test/output"
    leading_work_dir = "${projectDir}/test/output/leading_tmp_dir"
    pipeline_work_dir = "/scratch"
    project_id = 'GZLUCPTA000001'
    save_intermediate_files = true
    metapipeline_DNA_config = "${projectDir}/test/test-metapipeline-DNA-batch/meta-pipeline.config"

    partition = 'F72'
    clusterOptions = '--exclusive'
    per_job_cpus = 72
    per_job_memory_GB = 136.8
    max_parallel_jobs = 5
}

methods.set_up()
