#!/usr/bin/env nextflow
import nextflow.util.SysHelper

params {
    // sample
    run_name = ""
    
    //Single or Paired?
    sample_mode = 'paired' // 'single' or 'paired'

    // sample inputs
    input_csv = ''

    // input/output locations
    output_dir = "<OUTPUT-DIR-METAPIPELINE>" // 
    temp_dir = ''//'/data/users/agonzalez/002_Nextflowization_mtSNV/20210617/pipeline-call-mtSNV/temp_directory' // 

    // References
    directory_containing_mt_ref_genome_chrRSRS_files = '' // For an example look at test config
    gmapdb = '' // For an example look at test config
    
    // Intermediate Steps? true or false
    save_intermediate_files = true
    cache_intermediate_pipeline_steps = true

    // SGE scheduler? true or false
    sge_scheduler = false 
    
    // Apply ucla-cds specific configuration? true or false 
    ucla_cds = false 

    // Replace the maximum resource values if not running on 'local' executor
    max_cpus   = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()

    extract_mtDNA_BAMQL_cpus = 8
    extract_mtDNA_BAMQL_memory_GB = null
    align_mtDNA_MToolBox_cpus = 8
    align_mtDNA_MToolBox_memory_GB = null
    call_mtSNV_mitoCaller_cpus = 8
    call_mtSNV_mitoCaller_memory_GB = null
    convert_mitoCaller2vcf_mitoCaller_cpus = 8
    convert_mitoCaller2vcf_mitoCaller_memory_GB = null
    call_heteroplasmy_cpus = 8
    call_heteroplasmy_memory_GB = null
}
// Load configs with rudimentary definitions; loaded in this specific order)
includeConfig "${projectDir}/config/methods.config"

workDir = params.temp_dir

// Metadata
manifest {
    name = "call-mtSNV"
    author = ["Alfredo Enrique Gonzalez", "Takafumi Yamaguchi"]
    description = "Pipeline for calling mitochonrdial SNVs"
    version = "1.0.0"
}

def get_memory(mem) {
    if (mem) {
        return "${mem}GB" as nextflow.util.MemoryUnit
    }
    return null
}

process {
    withName: extract_mtDNA_BAMQL {
        cpus = params.extract_mtDNA_BAMQL_cpus
        memory = get_memory(params.extract_mtDNA_BAMQL_memory_GB)
    }
    withName: align_mtDNA_MToolBox {
        cpus = params.align_mtDNA_MToolBox_cpus
        memory = get_memory(params.align_mtDNA_MToolBox_memory_GB)
    }
    withName: call_mtSNV_mitoCaller {
        cpus = params.call_mtSNV_mitoCaller_cpus
        memory = get_memory(params.call_mtSNV_mitoCaller_memory_GB)
    }
    withName: convert_mitoCaller2vcf_mitoCaller {
        cpus = params.convert_mitoCaller2vcf_mitoCaller_cpus
        memory = get_memory(params.convert_mitoCaller2vcf_mitoCaller_memory_GB)
    }
    withName: call_heteroplasmy {
        cpus = params.call_heteroplasmy_cpus
        memory = get_memory(params.call_heteroplasmy_memory_GB)
    }
}