#!/usr/bin/env nextflow
import nextflow.util.SysHelper

params {
    // sample
    run_name = ""
    
    //Single or Paired?
    sample_mode = 'paired' // 'single' or 'paired'

    // sample inputs
    input_csv = ''

    // input/output locations
    output_dir = "<OUTPUT-DIR-METAPIPELINE>" // 
    temp_dir = ''//'/data/users/agonzalez/002_Nextflowization_mtSNV/20210617/pipeline-call-mtSNV/temp_directory' // 

    // References
    directory_containing_mt_ref_genome_chrRSRS_files = '' // For an example look at test config
    gmapdb = '' // For an example look at test config
    
    // Intermediate Steps? true or false
    save_intermediate_files = true
    cache_intermediate_pipeline_steps = true

    // SGE scheduler? true or false
    sge_scheduler = false 
    
    // Apply ucla-cds specific configuration? true or false 
    ucla_cds = true

    // Replace the maximum resource values if not running on 'local' executor
    max_cpus   = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()

}

// Metadata
manifest {
    name = "call-mtSNV"
    author = ["Alfredo Enrique Gonzalez", "Takafumi Yamaguchi", "Jieun Oh"]
    description = "Pipeline for calling mitochonrdial SNVs"
    version = "3.0.0-rc.1"
}

// Load configs with rudimentary definitions; loaded in this specific order)
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/config/resource-allocation.config"
