methods {
    set_pipeline_logs = {
        trace.enabled = true
        trace.file = "${params.output_dir}/trace.txt"

        timeline.enabled = true
        timeline.file = "${params.output_dir}/timeline.html"
        
        report.enabled = true
        report.file = "${params.output_dir}/report.html"
    }

    set_up = {
        methods.set_pipeline_logs()
    }
}

methods.set_up()