[submodule "external/pipeline-align-DNA"]
	path = external/pipeline-align-DNA
	url = git@github.com:uclahs-cds/pipeline-align-DNA.git
	branch = main
	ignore = dirty
[submodule "external/pipeline-call-gSNP"]
	path = external/pipeline-call-gSNP
	url = git@github.com:uclahs-cds/pipeline-call-gSNP.git
	branch = main
	ignore = dirty
[submodule "external/pipeline-convert-BAM2FASTQ"]
	path = external/pipeline-convert-BAM2FASTQ
	url = git@github.com:uclahs-cds/pipeline-convert-BAM2FASTQ.git
	branch = main
	ignore = dirty
[submodule "external/pipeline-call-sSNV"]
	path = external/pipeline-call-sSNV
	url = git@github.com:uclahs-cds/pipeline-call-sSNV.git
	branch = main
	ignore = dirty
[submodule "external/pipeline-call-mtSNV"]
	path = external/pipeline-call-mtSNV
	url = git@github.com:uclahs-cds/pipeline-call-mtSNV.git
	branch = main
	ignore = dirty
[submodule "external/pipeline-Nextflow-config"]
	path = external/pipeline-Nextflow-config
	url = git@github.com:uclahs-cds/pipeline-Nextflow-config.git
	branch = main
	ignore = dirty
[submodule "external/pipeline-call-gSV"]
	path = external/pipeline-call-gSV
	url = git@github.com:uclahs-cds/pipeline-call-gSV.git
	branch = main
	ignore = dirty
[submodule "external/pipeline-call-sSV"]
	path = external/pipeline-call-sSV
	url = git@github.com:uclahs-cds/pipeline-call-sSV.git
	branch = main
	ignore = dirty
[submodule "external/pipeline-Nextflow-module"]
	path = external/pipeline-Nextflow-module
	url = git@github.com:uclahs-cds/pipeline-Nextflow-module.git
	branch = main
	ignore = dirty
[submodule "external/pipeline-recalibrate-BAM"]
	path = external/pipeline-recalibrate-BAM
	url = git@github.com:uclahs-cds/pipeline-recalibrate-BAM.git
	branch = main
	ignore = dirty
[submodule "external/pipeline-call-sCNA"]
	path = external/pipeline-call-sCNA
	url = git@github.com:uclahs-cds/pipeline-call-sCNA.git
	branch = main
	ignore = dirty
[submodule "external/pipeline-calculate-targeted-coverage"]
	path = external/pipeline-calculate-targeted-coverage
	url = git@github.com:uclahs-cds/pipeline-calculate-targeted-coverage.git
	branch = main
	ignore = dirty
