// Metadata
manifest {
    name = 'metapipeline-DNA'
    author = ['Yash Patel', 'Chenghao Zhu', 'Helena Winata', 'Alfredo Enrique Gonzalez', 'Nicholas Wang']
    description = 'Nextflow pipeline to convert BAM to FASTQ, align, recalibrate BAM, call gSNP, call sSNV, and call mtSNV'
    version = '5.0.0-rc.6'
}
