// Metadata
manifest {
    name = 'metapipeline-DNA'
    author = ['Yash Patel', 'Chenghao Zhu', 'Helena Winata', 'Alfredo Enrique Gonzalez', 'Nicholas Wang', 'Sorel Fitz-Gibbon', 'Mohammed Faizal Eeman Mootor', 'Nicole Zeltser']
    description = 'Nextflow pipeline to convert BAM to FASTQ, align, call gSNP, call sSNV, call gSV, call sSV and call mtSNV'
    version = '6.0.0-rc.5'
}
