// Metadata
manifest {
    name = 'metapipeline-DNA'
    author = ['Yash Patel', 'Chenghao Zhu', 'Helena Winata', 'Alfredo Enrique Gonzalez', 'Nicholas Wang', 'Sorel Fitz-Gibbon', 'Mohammed Faizal Eeman Mootor', 'Nicole Zeltser', 'Nicholas Wiltsie', 'Takafumi Yamaguchi']
    description = 'Nextflow pipeline to convert BAM to FASTQ, align, perform QC, assess targeted coverage, call gSNP, call sSNV, call mtSNV, call SVs, call sCNA, and perform subclonal reconstruction'
    version = '6.0.0'
}
