params {
    input_csv = "test/test-germline-somatic/input.csv"
    output_dir = "${launchDir}/test/output"
    temp_dir = './work'
    save_intermediate_files = true

    patient = 'GZLUCPTA000001'
    project_id = 'LUAD0000034'

    bam2fastq {
        subworkflow_cpus = 8
        get_bam_stats_SAMtools_cpus = 8
        collate_bam_SAMtools_cpus = 8
    }

    align_DNA {
        subworkflow_cpus = 8
        reference_fasta_bwa = '/hot/pipeline/development/slurm/germline-somatic/downsampled_data/bwa-mem2/genome.fa'
        aligner = ['BWA-MEM2']
        align_DNA_BWA_MEM2_cpus = 8
        run_SortSam_Picard_cpus = 1
        run_SortSam_Picard_memory_GB = 16
        run_MarkDuplicate_Picard_cpus = 1
        run_MarkDuplicate_Picard_memory_GB = 16
        run_MarkDuplicatesSpark_GATK_cpus = 16
        run_MarkDuplicatesSpark_GATK_memory_GB = 35
    }

    call_gSNP {
        subworkflow_cpus = 16
        java_temp_dir = '/scratch'
        is_NT_paired = true
        input_all_chromosomes_group_small_contigs = '/hot/pipeline/development/slurm/germline-somatic/downsampled_data/genome/hg38_chr22M_chromosomes_all.txt'
        input_all_chromosomes_each_per_line = '/hot/pipeline/development/slurm/germline-somatic/downsampled_data/genome/hg38_chr22M_chromosomes_all_each_per_line.txt'
        reference_prefix = "/hot/pipeline/development/slurm/germline-somatic/downsampled_data/genome/genome"
        bundle_mills_and_1000g_gold_standard_indels_vcf_gz = "/hot/pipeline/development/slurm/germline-somatic/downsampled_data/bundle/Mills_and_1000G_gold_standard.indels.hg38.chr21M.vcf.gz"
        bundle_known_indels_vcf_gz = "/hot/pipeline/development/slurm/germline-somatic/downsampled_data/bundle/Homo_sapiens_assembly38.known_indels.chr21M.vcf.gz"
        bundle_v0_dbsnp138_vcf_gz = "/hot/pipeline/development/slurm/germline-somatic/downsampled_data/bundle/resources_broad_hg38_v0_Homo_sapiens_assembly38.dbsnp138.chr21M.vcf.gz"
        bundle_hapmap_3p3_vcf_gz = "/hot/pipeline/development/slurm/germline-somatic/downsampled_data/bundle/hapmap_3.3.hg38.chr21M.vcf.gz"
        bundle_omni_1000g_2p5_vcf_gz = "/hot/pipeline/development/slurm/germline-somatic/downsampled_data/bundle/1000G_omni2.5.hg38.chr21M.vcf.gz"
        bundle_phase1_1000g_snps_high_conf_vcf_gz = "/hot/pipeline/development/slurm/germline-somatic/downsampled_data/bundle/1000G_phase1.snps.high_confidence.hg38.chr21M.vcf.gz"
        bundle_contest_hapmap_3p3_vcf_gz = "/hot/pipeline/development/slurm/germline-somatic/downsampled_data/bundle/hapmap_3.3.hg38.BIALLELIC.PASS.chr21M.vcf.gz"
        max_number_of_parallel_jobs = 2
    }

    call_sSNV {
        subworkflow_cpus = 8
        algorithm = ['somaticsniper', 'strelka2', 'mutect2']
        reference = '/hot/pipeline/development/slurm/germline-somatic/downsampled_data/genome/genome.fa'
        exome = false
        manta_cpus = 8
        // bam_somaticsniper_memory_GB = 16
        // samtools_pileup_memory_GB = 16
        // samtools_varfilter_memory_GB = 16
        strelka2_somatic_cpus = 8
        m2_memory_GB = 8
        m2_non_canonical_memory_GB = 8
        intervals = '/hot/users/czhu/pipeline-germline-somatic/pipeline-germline-somatic/test/test-call-sSNV/intervals.list'
    }

    call_mtSNV {
        subworkflow_cpus = 8
        directory_containing_mt_ref_genome_chrRSRS_files = '/hot/users/agonzalez/002_Nextflowization_mtSNV/01_Version_1.0/01_pipeline/SGE/output/genome_fasta/'
        gmapdb = '/hot/ref/mitochondria_ref/gmapdb/gmapdb_2021-03-08/gmapdb/'
    }
}

includeConfig "${projectDir}/methods.config"
