params {
    output_dir = "${launchDir}/test/output"
    work_dir = '/scratch'
    save_intermediate_files = true
    patient = 'GZLUCPTA000001'
    project_id = 'LUAD0000034'
    multi_sample_calling = false
    
    call_mtSNV {
        subworkflow_cpus = 8
        mt_ref_genome_dir = '/hot/ref/mitochondria_ref/genome_fasta/'
        gmapdb = '/hot/ref/mitochondria_ref/gmapdb/gmapdb_2021-03-08/'
    }

    input_csv = "${launchDir}/test/test-call-mtSNV/input.csv"
}
