params {
    work_dir = '/scratch'
    save_intermediate_files = true
    patient = 'GZLUCPTA000001'
    project_id = 'LUAD0000034'
    multi_sample_calling = false
    sample_mode = 'paired'

    call_mtSNV {
        subworkflow_cpus = 8
        mt_ref_genome_dir = '/hot/ref/mitochondria_ref/genome_fasta/'
        gmapdb = '/hot/ref/mitochondria_ref/gmapdb/gmapdb_2021-03-08/'
    }

    params.call_mtSNV.metapipeline_arg_string = ''
    params.call_mtSNV.each{ k, v ->
        params.call_mtSNV.metapipeline_arg_string = params.call_mtSNV.metapipeline_arg_string + "--${k} ${v} "
    }

    input_csv = "${launchDir}/test/test-call-mtSNV/input.csv"
}
