params {
    input_csv = "${launchDir}/test/test-call-mtSNV/input.csv"
    work_dir = '/scratch'
    save_intermediate_files = true
    patient = 'GZLUCPTA000001'
    project_id = 'LUAD0000034'
    sample_mode = 'paired'

    call_mtSNV {
        subworkflow_cpus = 8
        mt_ref_genome_dir = '/hot/ref/mitochondria_ref/genome_fasta/'
        gmapdb = '/hot/ref/mitochondria_ref/gmapdb/gmapdb_2021-03-08/'
    }

    arg_map = [:]
    params.call_mtSNV.each{ param_key, param_value -> {
            arg_map[param_key] = param_value
        }
    }
    params.call_mtSNV.metapipeline_arg_map = arg_map
}
