import nextflow.util.SysHelper

params {
    work_dir = '/scratch/\$SLURM_JOB_ID'
    save_intermediate_files = true
    patient = 'IlluminaPatient1'
    project_id = 'IlluminaTest'
    sample_mode = 'single'

    input_type = 'BAM'
    use_original_intervals = true

    calculate_targeted_coverage {
        is_pipeline_enabled = true
        reference_dict = '/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.dict'
        reference_dbSNP = '/hot/ref/database/dbSNP-155/thinned/GRCh38/dbSNP-155_thinned_hg38.vcf.gz'
        genome_sizes = '/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.fasta.fai'
        target_bed = '/hot/software/pipeline/metapipeline-DNA/Nextflow/development/input/data/targeted-coverage/small.bed' //required
        bait_bed = '' //optional, path/to/bait/bedfile
        collect_metrics = true // whether or not to calculate coverage metrics
        off_target_depth = true //whether or not to calculate depth at off-target dbSNP loci
        output_enriched_target_file = true // whether or not to output a new target file containing high-coverage off-target dbSNP loci
        target_depth = true // whether or not to calculate per-base depth in target regions
        //samtools_depth_extra_args = ''
    }

    align_DNA {
        aligner = ['BWA-MEM2']
    }

    arg_map = [:]
    params.calculate_targeted_coverage.each{ param_key, param_value -> {
            arg_map[param_key] = param_value
        }
    }
    params.calculate_targeted_coverage.metapipeline_arg_map = arg_map
    params.pipeline_status_directory = "/scratch/${System.getenv('SLURM_JOB_ID')}/PIPELINESTATUSDIRECTORY"
    params.pipeline_exit_status_directory = "/scratch/${System.getenv('SLURM_JOB_ID')}/PIPELINEEXITSTATUS"
    params.metapipeline_log_output_dir = "${params.output_dir}/log-test-calculate-targeted-coverage"
    params.task_hash = "testhash"

    params.sample_data = [
        'NA24149': [
            'patient': 'IlluminaPatient1',
            'state': 'normal',
            'recalibrate-BAM': ['BAM':'/hot/software/pipeline/metapipeline-DNA/Nextflow/development/input/data/BAM/NA24149/BWA-MEM2-2.2.1_GATK-4.2.4.1_IlluminaSampleTest_NA24149.bam', 'contamination_table':'']
        ]
    ]

    params.pipeline_predecessor = [
        'calculate-targeted-coverage': ['recalibrate-BAM']
    ]
}

includeConfig "${projectDir}/../../config/metapipeline_DNA_base.config"
