params {
    work_dir = '/scratch'
    save_intermediate_files = true
    patient = 'GZLUCPTA000001'
    project_id = 'LUAD0000034'
    multi_sample_calling = false
    sample_mode = 'multi'
    log_output_dir = "${-> params.output_dir}/log"

    call_sSV {
        subworkflow_cpus = 8
        reference_fasta = '/hot/software/pipeline/metapipeline-DNA/Nextflow/development/germline-somatic/downsampled_data/genome/genome.fa'
        algorithm = ['delly', 'manta']
        exclusion_file = '/hot/ref/tool-specific-input/Delly/hg38/human.hg38.excl.tsv'
    }

    params.call_sSV.metapipeline_arg_string = ''
    params.call_sSV.each{ k, v ->
        if (k != 'algorithm') {
            params.call_sSV.metapipeline_arg_string = params.call_sSV.metapipeline_arg_string + "--${k} ${v} "
        }
    }

    input_csv = "${launchDir}/test/test-call-sSV/input.csv"
}
