params {
    output_dir = "/hot/pipeline/development/slurm/meta-germline-somatic/output/test-align-DNA"
    temp_dir = '/scratch'
    save_intermediate_files = true

    align_DNA {
        enable_spark = true
        mark_duplicates = true
        subworkflow_cpus = 8
        reference_fasta_bwa = '/hot/ref/tool-specific-input/BWA-MEM2-2.2.1/GRCh38-BI-20160721/index/genome.fa'
        aligner = ['BWA-MEM2']
    }

    input_csv = "${projectDir}/input.csv"
}