params {
    output_dir = "${launchDir}/test/output"
    work_dir = '/scratch'
    save_intermediate_files = true

    align_DNA {
        enable_spark = true
        mark_duplicates = true
        subworkflow_cpus = 8
        reference_fasta_bwa = '/hot/ref/tool-specific-input/BWA-MEM2-2.2.1/GRCh38-BI-20160721/index/genome.fa'
        aligner = ['BWA-MEM2']
    }

    input_csv = "${launchDir}/test/test-align-DNA/input.csv"
}