params {
    work_dir = '/scratch/\$SLURM_JOB_ID'
    save_intermediate_files = true
    patient = 'IlluminaPatient1'
    project_id = 'IlluminaTest'
    sample_mode = 'paired'
    override_realignment = false

    align_DNA {
        enable_spark = true
        mark_duplicates = true
        subworkflow_cpus = 8
        reference_fasta_bwa = '/hot/ref/tool-specific-input/BWA-MEM2-2.2.1/GRCh38-BI-20160721/alt-aware/genome.fa'
        aligner = ['BWA-MEM2']
    }

    arg_map = [:]
    params.align_DNA.each{ param_key, param_value -> {
            arg_map[param_key] = param_value
        }
    }
    params.align_DNA.metapipeline_arg_map = arg_map

    params.convert_BAM2FASTQ.is_pipeline_enabled = false
    params.pipeline_status_directory = "/scratch/${System.getenv('SLURM_JOB_ID')}/PIPELINESTATUSDIRECTORY"
    params.metapipeline_log_output_dir = "${params.output_dir}/log-test-align-DNA"

    params.sample_data = [
        'NA24143': [
            'patient': 'IlluminaPatient1',
            'state': 'tumor',
            'align-DNA': ['BWA-MEM2': ['BAM':'']],
            'original_data': [[
                'read_group_identifier': 'NA24143RG',
                'sequencing_center': 'Illumina',
                'library_identifier': 'NA24143LIB',
                'platform_technology': 'Illumina',
                'platform_unit': 'Platform1',
                'bam_header_sm': 'NA24143',
                'lane': 1,
                'read1_fastq': '/hot/software/pipeline/metapipeline-DNA/Nextflow/development/input/data/FASTQ/NA24143/IDPE2plus-NA24143-R4-MitoEx-1to100_S21_L001_R1_001.fastq.gz',
                'read2_fastq': '/hot/software/pipeline/metapipeline-DNA/Nextflow/development/input/data/FASTQ/NA24143/IDPE2plus-NA24143-R4-MitoEx-1to100_S21_L001_R2_001.fastq.gz'
            ]]
        ],
        'NA24149': [
            'patient': 'IlluminaPatient1',
            'state': 'normal',
            'align-DNA': ['BWA-MEM2': ['BAM':'']],
            'original_data': [[
                'read_group_identifier': 'NA24149RG',
                'sequencing_center': 'Illumina',
                'library_identifier': 'NA24149LIB',
                'platform_technology': 'Illumina',
                'platform_unit': 'Platform1',
                'bam_header_sm': 'NA24149',
                'lane': 1,
                'read1_fastq': '/hot/software/pipeline/metapipeline-DNA/Nextflow/development/input/data/FASTQ/NA24149/IDPE2plus-NA24149-R3-MitoEx-1to1000_S41_L001_R1_001.fastq.gz',
                'read2_fastq': '/hot/software/pipeline/metapipeline-DNA/Nextflow/development/input/data/FASTQ/NA24149/IDPE2plus-NA24149-R3-MitoEx-1to1000_S41_L001_R2_001.fastq.gz'
            ]]
        ]
    ]
}
