params {
    input_csv = "${launchDir}/test/test-call-gSV/input.csv"
    work_dir = '/scratch/\$SLURM_JOB_ID'
    save_intermediate_files = true
    patient = 'GZLUCPTA000001'
    project_id = 'LUAD0000034'
    sample_mode = 'paired'
    log_output_dir = "${-> params.output_dir}/log"

    call_gSV {
        subworkflow_cpus = 8
        reference_fasta = '/hot/software/pipeline/metapipeline-DNA/Nextflow/development/germline-somatic/downsampled_data/genome/genome.fa'
        exclusion_file = '/hot/ref/tool-specific-input/Delly/GRCh38/human.hg38.excl.tsv'
        mappability_map = '/hot/ref/tool-specific-input/Delly/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa.r101.s501.blacklist.gz'
    }

    arg_map = [:]
    params.call_gSV.each{ param_key, param_value -> {
            arg_map[param_key] = param_value
        }
    }
    params.call_gSV.metapipeline_arg_map = arg_map
}
