params {
    // output_dir = "${launchDir}/test/output"
    work_dir = '/scratch'
    save_intermediate_files = true
    patient = 'GZLUCPTA000001'
    project_id = 'LUAD0000034'
    multi_sample_calling = false
    sample_mode = 'paired'
    log_output_dir = "${-> params.output_dir}/log"

    call_gSV {
        subworkflow_cpus = 8
        reference_fasta = '/hot/software/pipeline/metapipeline-DNA/Nextflow/development/germline-somatic/downsampled_data/genome/genome.fa'
        exclusion_file = '/hot/ref/tool-specific-input/Delly/GRCh38/human.hg38.excl.tsv'
        mappability_map = '/hot/ref/tool-specific-input/Delly/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa.r101.s501.blacklist.gz'
    }

    params.call_gSV.metapipeline_arg_string = ''
    params.call_gSV.each{ k, v ->
        params.call_gSV.metapipeline_arg_string = params.call_gSV.metapipeline_arg_string + "--${k} ${v} "
    }

    input_csv = "${launchDir}/test/test-call-gSV/input.csv"
}
