includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/nextflow.config"

params {
    input_csv = ("${projectDir}/test/test-metapipeline-DNA-batch/input.csv" as String)
    leading_work_dir = "/hot/software/pipeline/metapipeline-DNA/Nextflow/development/unreleased/common_work_dir"
    pipeline_work_dir = '/scratch' //For individual pipeline outputs before copying to output_dir
    project_id = 'IlluminaTest'
    save_intermediate_files = true

    status_email_address = ""

    partition = 'F32'
    clusterOptions = '--exclusive'
    max_parallel_jobs = 5
    cluster_submission_interval = 5
    uclahs_cds_wgs = false

    src_cna_tool = "FACETS"

    sample_mode = 'paired'
    requested_pipelines = ['align-DNA', 'recalibrate-BAM', 'generate-SQC-BAM', 'calculate-targeted-coverage', 'call-gSNP', 'call-mtSNV', 'call-sSNV', 'call-sSV', 'call-gSV', 'call-sCNA', 'call-SRC']
    override_realignment = false
    override_recalibrate_bam = false

    use_original_intervals = true

    pipeline_params {
        convert_BAM2FASTQ {
            get_bam_stats_SAMtools_cpus = 8
            collate_bam_SAMtools_cpus = 8
        }

        align_DNA {
            enable_spark = true
            mark_duplicates = true
            reference_fasta_bwa = '/hot/ref/tool-specific-input/BWA-MEM2-2.2.1/GRCh38-BI-20160721/alt-aware/genome.fa'
            aligner = ['BWA-MEM2']
        }

        recalibrate_BAM {
            aligner = "BWA-MEM2-2.2.1"
            reference_fasta = "/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.fasta"
            bundle_mills_and_1000g_gold_standard_indels_vcf_gz = "/hot/ref/tool-specific-input/GATK/GRCh38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
            bundle_known_indels_vcf_gz = "/hot/ref/tool-specific-input/GATK/GRCh38/Homo_sapiens_assembly38.known_indels.vcf.gz"
            bundle_v0_dbsnp138_vcf_gz = "/hot/ref/tool-specific-input/GATK/GRCh38/resources_broad_hg38_v0_Homo_sapiens_assembly38.dbsnp138.vcf.gz"
            bundle_contest_hapmap_3p3_vcf_gz = "/hot/ref/tool-specific-input/GATK/GRCh38/Biallelic/hapmap_3.3.hg38.BIALLELIC.PASS.2021-09-01.vcf.gz"
            parallelize_by_chromosome = true
        }

        call_gSNP {
            reference_fasta = "/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.fasta"
            bundle_mills_and_1000g_gold_standard_indels_vcf_gz = "/hot/ref/tool-specific-input/GATK/GRCh38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
            bundle_v0_dbsnp138_vcf_gz = "/hot/ref/tool-specific-input/GATK/GRCh38/resources_broad_hg38_v0_Homo_sapiens_assembly38.dbsnp138.vcf.gz"
            bundle_hapmap_3p3_vcf_gz = "/hot/ref/tool-specific-input/GATK/GRCh38/hapmap_3.3.hg38.vcf.gz"
            bundle_omni_1000g_2p5_vcf_gz = "/hot/ref/tool-specific-input/GATK/GRCh38/1000G_omni2.5.hg38.vcf.gz"
            bundle_phase1_1000g_snps_high_conf_vcf_gz = "/hot/ref/tool-specific-input/GATK/GRCh38/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
        }

        call_sSNV {
            algorithm = ['somaticsniper', 'strelka2', 'mutect2', 'muse']
            reference = '/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.fasta'
            exome = false
            intersect_regions = '/hot/ref/tool-specific-input/pipeline-call-sSNV-6.0.0/GRCh38-BI-20160721/Homo_sapiens_assembly38_no-decoy.bed.gz'
            germline_resource_gnomad_vcf = '/hot/ref/tool-specific-input/GATK/GRCh38/af-only-gnomad.hg38.vcf.gz'
            dbSNP = '/hot/ref/database/dbSNP-155/original/GRCh38/GCF_000001405.39.gz'
            ncbi_build = 'GRCh38'
        }

        call_mtSNV {
            mt_ref_genome_dir = '/hot/ref/mitochondria_ref/genome_fasta/'
            gmapdb = '/hot/ref/mitochondria_ref/gmapdb/gmapdb_2021-03-08/'
        }

        call_gSV {
            reference_fasta = '/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.fasta'
            exclusion_file = '/hot/ref/tool-specific-input/Delly/GRCh38/human.hg38.excl.tsv'
            mappability_map = '/hot/ref/tool-specific-input/Delly/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa.r101.s501.blacklist.gz'
            run_delly = false
        }

        call_sSV {
            algorithm = ['delly', 'badalg']
            reference_fasta = '/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.fasta'
            exclusion_file = '/hot/ref/tool-specific-input/Delly/hg38/human.hg38.excl.tsv'
        }

        calculate_targeted_coverage {
            reference_dict = '/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.dict'
            reference_dbSNP = '/hot/ref/database/dbSNP-155/thinned/GRCh38/dbSNP-155_thinned_hg38.vcf.gz'
            genome_sizes = '/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.fasta.fai'
            target_bed = '/hot/software/pipeline/metapipeline-DNA/Nextflow/development/input/data/targeted-coverage/small.bed' //required
            bait_bed = '' //optional, path/to/bait/bedfile
            collect_metrics = true // whether or not to calculate coverage metrics
            off_target_depth = true //whether or not to calculate depth at off-target dbSNP loci
            output_enriched_target_file = true // whether or not to output a new target file containing high-coverage off-target dbSNP loci
            target_depth = false // whether or not to calculate per-base depth in target regions
        }

        generate_SQC_BAM {
            algorithms = ['stats', 'collectwgsmetrics']
            reference = '/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.fasta'
        }

        call_sCNA {
            algorithm = ['cnv_facets']
            sample_sex = "male"
            position_scale = "genome-position"
            dbSNP_file = "/hot/ref/tool-specific-input/RecSNV/GRCh38/dbsnp_b150_grch38.vcf.gz"
            battenberg_reference = "/hot/ref/tool-specific-input/Battenberg/download_202204/GRCh38/battenberg_ref_hg38_chr/"
            reference_dict = "/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.dict"
        }

        call_SRC {
            SRC = [
                [
                    algorithm: 'PyClone-VI',
                    options: ''
                ]
            ]
        }
    }
}

params.config_errors = ""

try {
    methods.set_up()
} catch(Exception e) {
    params.config_errors = e.getMessage()
} finally {
    new File("${params.output_dir}" as String).mkdirs()
    new FileWriter("${params.output_dir}/errors.txt").with {
        write("${params.config_errors}\n")
        flush()
    }

    println 'Exiting...'
}
