import nextflow.util.SysHelper

params {
    input_csv = "${projectDir}/../test/test-metapipeline-DNA/input.csv"
    leading_work_dir = "/hot/software/pipeline/metapipeline-DNA/Nextflow/development/unreleased/common_work_dir"
    work_dir = '/scratch/\$SLURM_JOB_ID' //For individual pipeline outputs before copying to output_dir
    project_id = 'IlluminaTest'
    save_intermediate_files = true

    patient = "IlluminaPatient1"

    partition = 'F32'
    clusterOptions = '--exclusive'
    max_parallel_jobs = 5
    cluster_submission_interval = 5
    uclahs_cds_wgs = false

    input_type = 'BAM'
    metapipeline_log_output_dir = "${params.output_dir}/process-log"
    pipeline_status_directory = "/scratch/${System.getenv('SLURM_JOB_ID')}/PIPELINESTATUSDIRECTORY"

    sample_mode = 'paired'
    override_realignment = false
    override_recalibrate_bam = false
    enable_input_deletion_recalibrate_bam = true
    normal_sample_count = 1
    tumor_sample_count = 1
}

trace.enabled = true
trace.file = "${params.output_dir}/nextflow-log/trace.txt"
trace.overwrite = true

timeline.enabled = true
timeline.file = "${params.output_dir}/nextflow-log/timeline.html"
timeline.overwrite = true

report.enabled = true
report.file = "${params.output_dir}/nextflow-log/report.html"
report.overwrite = true
