///// methods invocation ///////
import nextflow.util.SysHelper

methods {
    set_date = {
        def date = new Date().format('yyyyMMdd-HHmmss')
        params.date = "${date}"
    }
    setup = {
        methods.set_date()
        }
}

methods.setup()

params {
    input_csv = "${launchDir}/test/test-bam2fastq/input.csv"
    output_dir = "/hot/users/agonzalez/008_pipeline-concatenation-DNA-pipelines/output/test-bam2fastq/${params.date}"
    temp_dir = '/scratch'
    save_intermediate_files = true
    
    bam2fastq {
        subworkflow_cpus = 2
        get_bam_stats_SAMtools_cpus = 2
        collate_bam_SAMtools_cpus = 2
    }
}