params {
    input_csv = "${launchDir}/test/test-bam2fastq/input.csv"
    // output_dir = "${launchDir}/test/output"
    work_dir = '/scratch'
    save_intermediate_files = true
    
    convert_BAM2FASTQ {
        subworkflow_cpus = 2
        get_bam_stats_SAMtools_cpus = 2
        collate_bam_SAMtools_cpus = 2
    }

    params.convert_BAM2FASTQ.metapipeline_arg_string = ''
    params.convert_BAM2FASTQ.each{ k, v ->
        params.convert_BAM2FASTQ.metapipeline_arg_string = params.convert_BAM2FASTQ.metapipeline_arg_string + "--${k} ${v} "
    }
}
