params {
    work_dir = '/scratch/\$SLURM_JOB_ID'
    save_intermediate_files = true
    patient = 'IlluminaPatient1'
    project_id = 'IlluminaTest'
    sample_mode = 'paired'

    call_sCNA {
        is_pipeline_enabled = true
        subworkflow_cpus = 8
        algorithm = ['battenberg']
        sample_sex = "female"
        position_scale = "genome-position"
        dbSNP_file = "/hot/ref/tool-specific-input/RecSNV/GRCh38/dbsnp_b150_grch38.vcf.gz"
        battenberg_reference = "/hot/ref/tool-specific-input/Battenberg/download_202204/GRCh38/battenberg_ref_hg38_chr/"
        reference_dict = "/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.dict"
    }

    call_SRC {
        is_pipeline_enabled = false
    }

    arg_map = [:]
    params.call_sCNA.each{ param_key, param_value -> {
            arg_map[param_key] = param_value
        }
    }
    params.call_sCNA.metapipeline_arg_map = arg_map
    params.pipeline_status_directory = "/scratch/${System.getenv('SLURM_JOB_ID')}/PIPELINESTATUSDIRECTORY"
    params.pipeline_exit_status_directory = "/scratch/${System.getenv('SLURM_JOB_ID')}/PIPELINEEXITSTATUS"
    params.metapipeline_log_output_dir = "${params.output_dir}/log-test-call-sCNA"
    params.task_hash = "testhash"

    params.sample_data = [
        'NA24143': [
            'patient': 'IlluminaPatient1',
            'state': 'tumor',
            'recalibrate-BAM': ['BAM':'/hot/software/pipeline/metapipeline-DNA/Nextflow/development/input/data/BAM/NA24143/BWA-MEM2-2.2.1_GATK-4.2.4.1_IlluminaSampleTest_NA24143.bam', 'contamination_table':''],
            'call-sCNA': [:]
        ],
        'NA24149': [
            'patient': 'IlluminaPatient1',
            'state': 'normal',
            'recalibrate-BAM': ['BAM':'/hot/software/pipeline/metapipeline-DNA/Nextflow/development/input/data/BAM/NA24149/BWA-MEM2-2.2.1_GATK-4.2.4.1_IlluminaSampleTest_NA24149.bam', 'contamination_table':''],
            'call-sCNA': [:]
        ]
    ]

    params.pipeline_predecessor = [
        'call-sCNA': ['recalibrate-BAM']
    ]
}

includeConfig "${projectDir}/../../config/metapipeline_DNA_base.config"
