/**
*   This csv_parser namespace is used to load a CSV file with a header.
*   The information is loaded as a list of Maps, with each line in the CSV corresponding to a Map.
*/
csv_parser {
    def fields_to_parse = []
    def field_indices = [:]
    def parsed_lines = []

    /**
    *   Using the header parts, find the indices of each field requested.
    */
    set_field_indices = { String header ->
        def header_parts = header.split(',') as List
        fields_to_parse.each { field ->
            field_indices[field] = header_parts.indexOf(field)
            if (field_indices[field] == -1) {
                throw new Exception("Failed to find field: ${field} in header of CSV.")
            }
        }
    }

    /**
    *   Split each line and parse contents into Map.
    */
    parse_line = { String line ->
        def line_parts = line.split(',') as List
        def line_fields = [:]
        field_indices.each { field, index ->
            line_fields[field] = line_parts[index]
            if (!line_fields[field]) {
                throw new Exception("Field: ${field} not found for line: ${line}")
            }
        }

        parsed_lines.add(line_fields)
    }

    /**
    *   Main parsing function for calling. Returns parsed data as a list of Maps.
    */
    parse_csv = { String csv_file, List fields ->
        fields_to_parse = fields
        def reader = new BufferedReader(new FileReader(csv_file))
        def header = reader.readLine()
        csv_parser.set_field_indices(header)

        def line = ''
        while ( (line = reader.readLine()) != null ) {
            csv_parser.parse_line(line)
        }

        return parsed_lines
    }
}
