params {
    save_intermediate_files = false
    executor = 'slurm'
    clusterOptions = ''
    ucla_cds = true

    uclahs_cds_wgs = true
    global_rate_limit = 90 // 90-minute global submission rate limit

    global_job_submission_limiter = ""
    global_job_submission_sbatch = ""

    run_downstream_pipelines_serially = false
}

process {
    executor = 'local'
    echo = false

    withName: 'call_metapipeline_DNA' {
        errorStrategy = 'ignore'
    }
}
