params {
    save_intermediate_files = false
    executor = 'slurm'
    clusterOptions = ''
    ucla_cds = true

    uclahs_cds_wgs = true
    global_rate_limit = 90 // 90-minute global submission rate limit

    global_job_submission_limiter = ""
    global_job_submission_sbatch = ""

    run_downstream_pipelines_serially = false

    override_src_precursor_disable = false
    src_snv_tool = 'BCFtools-Intersect'
    src_cna_tool = 'Battenberg'

    // TO-DO: Support option below to run call-SRC on all combinations of sSNV tools and sCNA tools
    src_run_all_combinations = false
}

process {
    executor = 'local'
    echo = false

    withName: 'call_metapipeline_DNA' {
        errorStrategy = 'ignore'
    }
}
