params {
    save_intermediate_files = false
    executor = 'slurm'
    clusterOptions = ''
    ucla_cds = true

    uclahs_cds_wgs = true
    global_allowed_jobs = 12
    per_user_allowed_jobs = 3
    global_rate_limit = 90 // 90-minute global submission rate limit
}

process {
    executor = 'local'
    echo = true

    withName: 'call_metapipeline_DNA' {
        errorStrategy = 'ignore'
    }
}
