process {
    withLabel: graceful_failure {
        ext.fail_gracefully = true
    }
}

trace {
    enabled = true
    file = "${params.metapipeline_log_output_dir}/nextflow-log/${params.patient}-${params.task_hash}/trace.txt"
}

report {
    enabled = true
    file = "${params.metapipeline_log_output_dir}/nextflow-log/${params.patient}-${params.task_hash}/report.html"
}

timeline {
    enabled = true
    file = "${params.metapipeline_log_output_dir}/nextflow-log/${params.patient}-${params.task_hash}/timeline.html"
}
