// EXECUTION SETTINGS AND GLOBAL DEFAULTS

// Inputs/parameters of the pipeline
params {
     // sample inputs
    dataset_id = ''
    blcds_registered_dataset = true // if you want the output to be registered
    sge_scheduler = false // true

    input_csv = "path/to/input/csv/"
    variable_name = "foo-bar"

    // input/output locations
    output_dir = "where/to/save/outputs/"
    temp_dir = "path/to/temp/dir/for/intermediate/files" // e.g /scratch

    // resource configuraton for entire pipeline
    max_number_of_parallel_jobs = n // number of processes that can be ran at the same time 
    max_number_of_cpus = n // number of cores (e.g: 2)
    max_memory = "n GB" // amount of memory (e.g 2B, 2KB, 2MB, 2GB or 2TB)

}

// External config files import
includeConfig "${projectDir}/config/methods.config"
