
pipeline_selector {
    pipeline_dependencies = [
        'convert-BAM2FASTQ': [],
        'align-DNA': ['convert-BAM2FASTQ'],
        'call-gSNP': ['align-DNA'],
        'call-sSNV': ['call-gSNP'],
        'call-mtSNV': ['call-gSNP']
    ]

    get_pipelines = { List requested_pipelines = [] ->
        if (!requested_pipelines) {
            return pipeline_selector.pipeline_dependencies.keySet() as List
        }

        def dependency_q = [] as Queue
        def pipelines_to_run = [] as Set

        requested_pipelines.each{ pipeline ->
            dependency_q.offer(pipeline)
        }

        def curr_pipeline = dependency_q.poll()
        while (curr_pipeline != null) {
            pipelines_to_run.add(curr_pipeline)
            pipeline_dependencies[curr_pipeline].each{ dependency ->
                dependency_q.offer(dependency)
            }
        }

    }

}