includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"

params {
    input_csv = ''
    output_dir = ''
    project_id = ''
    germline_somatic_config = ''
    temp_dir = '/scratch'

    partition = ''
    per_job_cpus = ''
    per_job_memory_GB = 4
    max_parallel_jobs = 10
}

methods.set_up()