includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"

params {
    input_csv = "${projectDir}/test/test-germline-somatic/input.csv"
    output_dir = "${projectDir}/test/output"
    temp_dir = "/scratch"
    project_id = 'GZLUCPTA000001'
    save_intermediate_files = true
    germline_somatic_config = "${projectDir}/test/test-germline-somatic-batch/germline-somatic.config"

    partition = 'F72'
    clusterOptions = '--exclusive'
    per_job_cpus = 72
    per_job_memory_GB = 136
    max_parallel_jobs = 5
}

process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 1.GB
    }
    withName: run_HaplotypeCallerVCF_GATK {
        cpus = 3
        memory = 7.GB
    }
    withName: run_HaplotypeCallerGVCF_GATK {
        cpus = 3
        memory = 7.GB
    }
    withName: run_MergeVcfs_Picard {
        cpus = 1
        memory = 15.GB
    }
    withName: run_RealignerTargetCreator_GATK {
        cpus = 6
        memory = 10.GB
    }
    withName: run_IndelRealigner_GATK {
        cpus = 6
        memory = 10.GB
    }
    withName: run_BaseRecalibrator_GATK {
        cpus = 1
        memory = 72.GB
    }
    withName: run_ApplyBQSR_GATK {
        cpus = 1
        memory = 1.GB
    }
    withName: run_BuildBamIndex_Picard {
        cpus = 1
        memory = 1.GB
    }
    withName: run_MergeSamFiles_Picard {
        cpus = 1
        memory = 2.GB
    }
    withName: run_GetPileupSummaries_GATK {
        cpus = 1
        memory = 5.GB
    }
    withName: run_CalculateContamination_GATK {
        cpus = 1
        memory = 5.GB
    }
    withName: run_DepthOfCoverage_GATK {
        cpus = 1
        memory = 10.GB
    }
    withName: remove_intermediate_files {
        cpus = 1
        memory = 1.GB
    }
}


methods.set_up()