params {
    output_dir = "${launchDir}/test/output"
    work_dir = '/scratch'
    save_intermediate_files = true
    patient = 'GZLUCPTA000001'
    project_id = 'LUAD0000034'

    call_sSNV {
        subworkflow_cpus = 8
        algorithm = ['somaticsniper', 'strelka2', 'mutect2']
        reference = '/hot/software/pipeline/metapipeline-DNA/Nextflow/development/germline-somatic/downsampled_data/genome/genome.fa'
        exome = false
        manta_cpus = 8
        // bam_somaticsniper_memory_GB = 16
        // samtools_pileup_memory_GB = 16
        // samtools_varfilter_memory_GB = 16
        strelka2_somatic_cpus = 8
        m2_memory_GB = 8
        m2_non_canonical_memory_GB = 8
        intervals = "${launchDir}/test/test-call-sSNV/intervals.list"
    }
    input_csv = "${launchDir}/test/test-call-sSNV/input.csv"
}
