params {
    output_dir = "${launchDir}/test/output"
    temp_dir = '/scratch'
    save_intermediate_files = true
    patient = 'GZLUCPTA000001'
    project_id = 'LUAD0000034'

    call_sSNV {
        subworkflow_cpus = 8
        algorithm = ['somaticsniper', 'strelka2', 'mutect2']
        reference = '/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.fasta'
        exome = false
        manta_cpus = 8
        // bam_somaticsniper_memory_GB = 16
        // samtools_pileup_memory_GB = 16
        // samtools_varfilter_memory_GB = 16
        strelka2_somatic_cpus = 8
        m2_memory_GB = 8
        m2_non_canonical_memory_GB = 8
        intervals = "${launchDir}/test/test-call-sSNV/intervals.list"
    }
    input_csv = 'test/test-call-sSNV/input.csv'
}