#!/usr/bin/env nextflow
import nextflow.util.SysHelper

// EXECUTION SETTINGS AND GLOBAL DEFAULTS
params {
    // sample inputs/ouputs locations
    run_name = ""
    input_csv = ""
    output_dir = ""
    temp_dir = ""

    // options
    save_intermediate_files = false
    cache_intermediate_pipeline_steps = false
    ucla_cds   = false // Apply ucla-cds specific configuration
    sge_scheduler = false
    filter_qc_failed_reads = false
    split_unmapped_reads_to_seperate_file = false

    cache_intermediate_pipeline_steps = true

    // Replace the maximum resource values if not running on 'local' executor
    max_cpus   = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()
    
}
// Load configs with rudimentary definitions; loaded in this specific order)
// includeConfig "${projectDir}/config/resource-allocation.config"
includeConfig "${projectDir}/config/methods.config"

process {
    withName: validate_inputs {
        cpus = 1
        memory = 2.GB
        }
    withName: get_bam_stats_SAMtools {
        cpus = params.get_bam_stats_SAMtools_cpus
    }
    withName: collate_bam_SAMtools {
        cpus = params.collate_bam_SAMtools_cpus
    }
}

workDir = params.temp_dir

// Metadata
manifest {
    name = 'pipeline-convert-BAM2FASTQ-nf'
    author = 'Julie Livingstone, Shu Tao, Alfredo E. Gonzalez, Tsumugi Gebo'
    homePage = "https://github.com/uclahs-cds/pipeline-convert-BAM2FASTQ"
    description = "nextflow pipeline to convert BAM file to FASTQ file(s)"
    mainScript = 'pipeline-convert-BAM2FASTQ.nf'
    version = '2.0.0'
}
